<!-- Main Footer -->
<footer class="main-footer">
    <!-- Default to the left -->
    <strong>Made with ❤️ by <a target="_blank" href="https://github.com/Androz2091">Androz2091</a>.</strong> Using <a target="_blank" href="https://adminlte.io">AdminLTE</a> and <a target="_blank" href="https://getbootstrap.com/">Bootstrap</a>.
    </footer>
</div>
<!-- ./wrapper -->
    
<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<script src="/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="/dist/js/adminlte.min.js"></script>

<script>
	$(function(){
		if(window.location.pathname.includes("selector")){
			$("#select").addClass("active");
		}
	});
</script>