<!-- Main Footer -->
<footer class="main-footer">
    <!-- Default to the left -->
    <strong>Made with ❤️ by <a target="_blank" href="https://github.com/Androz2091">Androz2091</a>.</strong> Using <a target="_blank" href="https://adminlte.io">AdminLTE</a> and <a target="_blank" href="https://getbootstrap.com/">Bootstrap</a>.
    </footer>
</div>
<!-- ./wrapper -->
    
<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="/dist/js/adminlte.min.js"></script>

<script>
	$(function(){
		if(window.location.pathname.includes("selector")){
			$("#select").addClass("active");
		}
		$("[rel='tooltip']").tooltip();
	});
</script>