<!DOCTYPE html>
<html>

<%- include includes/head %>

<!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
<body class="hold-transition skin-blue layout-top-nav">
<div class="wrapper">

  <%- include includes/header %>

  <!-- Full Width Column -->
  <div class="content-wrapper">
    <div class="container">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
            404 error
        </h1>
        <ol class="breadcrumb">
          <li><i class="fa fa-warning"></i>404 error</li>
        </ol>
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-warning" role="alert">
                    Page not found. Go back to the <a href="/selector">selector</a>.
                </div>
            </div>
        <div>
      </section>
    </div>
    <!-- /.container -->
  </div>
  <!-- /.content-wrapper -->

  <%- include includes/footer %>

</div>
<!-- ./wrapper -->
</body>
</html>